* {
	font-family: 'Roboto', sans-serif;
}

.footer {
	text-align: center;
	margin-top: 135%;
}

.testbutton {
	background: #3498db;
	color: white;
	font-size: 16px;
	width: 46%;
}

.tagstable {
	border: 1px solid black;
}

.tagstable td, .tagstable th {
	border-right: 1px solid black;
	text-align: center;
}

.tagstable th {
	border-bottom: 1px solid black;
}

.tagstable tr:nth-child(even)	{
	background: white;
}

.logintable td:nth-child(1) {
	text-align: right;
}

.spacer {
	height: 10px;
}